*.bak
*colors.css

.config/tmux/plugins

# Fish local config
.config/fish/fish_variables
.config/fish/install.log

# Typora - ignore everything except custom themes
.config/Typora/*
!.config/Typora/themes/
.config/Typora/themes/*
!.config/Typora/themes/ia_typora.css
!.config/Typora/themes/ia_typora_night.css
