/**
 * ════════════════════════════════════════════════════════
 *   Symphony by https://github.com/vyrx-dev
 * ════════════════════════════════════════════════════════
 */

@import "./colors.css";

* {
  background-color: transparent;
  color: @on_background;
  border: none;
  border-radius: 0;
  font-family: 'CaskaydiaMono Nerd Font Propo';
  font-size: 13px;
}

tooltip {
  background: rgba(15, 15, 15, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 4px;
  padding: 6px 10px;
}

menu {
  background: rgba(20, 20, 20, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0px;
  padding: 4px;
}

menu menuitem:hover {
  background: rgba(255, 255, 255, 0.1);
}

window#waybar {
  background: rgba(16, 16, 16, 0.75);
}

.modules-center {
  border-radius: 0;
  padding: 0 80px;
}

#workspaces button {
  all: initial;
  padding: 0 5px;
  margin: 0 0px;
  min-width: 5px;
}

#workspaces button.active {
  background: @waybar_accent;
  color: @waybar_accent_fg;
  font-weight: 700;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0px;
}

#mpd {
  margin-right: 5px;
  font-weight: 600;
}

#cpu,
#disk,
#memory,
#battery,
#network,
#clock,
#bluetooth,
#pulseaudio,
#backlight,
#window,
#mpris,
#tray,
#custom-screenrecording-indicator,
#custom-idle-indicator {
    padding: 0 5px;
    font-weight: 600;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-top: 2px;
  margin-left: 8.75px;
  font-size: 13px;
}

#custom-logo {
  padding: 0 10px 0 6px;
  margin-right: 4px;
  font-size: 15px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
