#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: false,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    text_color: "#DCD7BA",
    tab_bar: (
        enabled: true,
        active_style: (fg: "#DCD7BA", bg: "#1F1F28", modifiers: "Bold"),
        inactive_style: (fg: "#54546D", modifiers: ""),
    ),
    highlighted_item_style: (fg: "#7E9CD8", modifiers: "Bold"),
    current_item_style: (fg: "#1F1F28", bg: "#7E9CD8", modifiers: "Bold"),
    borders_style: (fg: "#54546D", modifiers: ""),
    highlight_border_style: (fg: "#7E9CD8"),
    symbols: (song: "󰝚 ", dir: " ", marker: "* ", ellipsis: "..."),
    progress_bar: (
        symbols: ["█", "█", "█"],
        track_style: (fg: "#54546D"),
        elapsed_style: (fg: "#7E9CD8"),
        thumb_style: (fg: "#7E9CD8"),
    ),
    scrollbar: (
        symbols: ["", "", "", ""],
        track_style: (fg: "#54546D"),
        ends_style: (fg: "#54546D"),
        thumb_style: (fg: "#7E9CD8"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Title), style: (fg: "#DCD7BA"),
                highlighted_item_style: (fg: "#1F1F28", modifiers: "Bold"),
                default: (kind: Property(Filename), style: (fg: "#54546D"),)
            ),
            width: "70%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#54546D"),
                default: (kind: Text("Unknown Album"), style: (fg: "#54546D"))
            ),
            width: "30%",
        ),
    ],
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "3",
                pane: Pane(Tabs),
            ),
            (
                size: "4",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                    (
                                        size: "4",
                                        borders: "ALL",
                                        pane: Pane(Header),
                                    ),
                                ]
                            )
                        ),
                    ]
                ),
            ),
            (
                size: "100%",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "100%",
                            borders: "NONE",
                            pane: Pane(TabContent),
                        ),
                    ]
                ),
            ),
            (
                size: "3",
                borders: "TOP | BOTTOM",
                pane: Pane(ProgressBar),
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Property(Status(StateV2(playing_label: " ", paused_label: "❚❚", stopped_label: "❚❚"))), style: (fg: "#7E9CD8", modifiers: "Bold")),
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "#DCD7BA", modifiers: "Bold"),
                        default: (kind: Property(Song(Filename)), style: (fg: "#DCD7BA", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "#7E9CD8", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "#7E9CD8", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "#7E9CD8", modifiers: "Bold"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed)), style: (fg: "#DCD7BA")),
                    (kind: Text("/"), style: (fg: "#54546D")),
                    (kind: Property(Status(Duration)), style: (fg: "#DCD7BA")),
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#E6C384", modifiers: "Bold"),
                        default: (kind: Text("Unknown Artist"), style: (fg: "#54546D", modifiers: ""))
                    ),
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "#7E9CD8", modifiers: "Bold"),
                            separator_style: (fg: "#54546D")))
                        ),
                        style: (fg: "#54546D")
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)
