/* Power Menu */

@import "~/.config/rofi/config.rasi"

window {
  width: 180px;
}

mainbox {
  padding: 12px;
  children: ["listview"];
}

listview {
  lines: 4;
  spacing: 6px;
}

element {
  padding: 10px 14px;
  border-radius: 8px;
}

element-icon {
  size: 0;
}
