[Desktop Entry]
Version=1.0
Name=Github
Comment=Github
Exec=/home/vyrx/.config/hypr/scripts/launch-webapp https://github.com/
Terminal=false
Type=Application
Icon=/home/vyrx/.local/share/applications/icons/Github.png
StartupNotify=true
