[Desktop Entry]
Version=1.0
Name=Learn
Comment=Learn
Exec=/home/vyrx/.config/hypr/scripts/launch-webapp https://devhints.io/
Terminal=false
Type=Application
Icon=/home/vyrx/.local/share/applications/icons/Learn.png
StartupNotify=true
