[Desktop Entry]
Version=1.0
Name=Lucida
Comment=Lucida
Exec=/home/vyrx/.config/hypr/scripts/launch-webapp https://lucida.to/?NwW0Oby=ZppMmjW
Terminal=false
Type=Application
Icon=/home/vyrx/.local/share/applications/icons/Lucida.png
StartupNotify=true
