[Desktop Entry]
Version=1.0
Name=Pinterest
Comment=Pinterest
Exec=/home/vyrx/.config/hypr/scripts/launch-webapp https://www.pinterest.com/
Terminal=false
Type=Application
Icon=/home/vyrx/.local/share/applications/icons/Pinterest.png
StartupNotify=true
