[Desktop Entry]
Version=1.0
Name=Qobuz
Comment=Qobuz
Exec=/home/vyrx/.config/hypr/scripts/launch-webapp https://www.qobuz.com/us-en/shop
Terminal=false
Type=Application
Icon=/home/vyrx/.local/share/applications/icons/Qobuz.png
StartupNotify=true
