[Desktop Entry]
Version=1.0
Name=Reddit
Comment=Reddit
Exec=/home/vyrx/.config/hypr/scripts/launch-webapp https://www.reddit.com/
Terminal=false
Type=Application
Icon=/home/vyrx/.local/share/applications/icons/Reddit.png
StartupNotify=true
